body{
    background-color: #d8c247b1;
    margin: 0px;
    padding: 0px;
    position: relative ;
}
#playground {
    margin: 0px; padding:  0px;
    height: 100vh;
    background-color: whitesmoke;
    width: 100vw;
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
}
canvas{
    padding: 0px ;
    margin: 0px;
}
#score  { 
    position: absolute;
    top: 5%;
    right: 10%;
    text-align: center;
    padding: 10px 50px;
    border: black;
    background-color: #313131;
    color:  white ;
    box-shadow: 2px 2px 5px saddlebrown;
    border-radius: 5px;
    font-size: 25px;
}
#speed { 
    position: absolute;
    top: 5%;
    left: 10%;
    text-align: center;
    padding: 10px 50px;
    border: black;
    background-color: #313131;
    color:  white ;
    box-shadow: 2px 2px 5px saddlebrown;
    border-radius: 5px;
    font-size: 25px;
}
#fuel { 
    position: absolute;
    top: 80%;
    right: 10%;
    text-align: center;
    padding: 10px 50px;
    border: black;
    background-color: #313131;
    color:  white ;
    box-shadow: 2px 2px 5px saddlebrown;
    border-radius: 5px;
    font-size: 25px;
}
